<div class="container">
    <div class="header">
        <div class="list-row">
            <div class="input-group mb-3"></div>
            <input type="text" class="form-control" placeholder="search text here...." [(ngModel)]="filter" />
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Full Name</th>
                <th>Role Name</th>
                <th>Action</th> <!-- Edit / Delete -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersService.users | filter: filter| paginate:{itemsPerPage: 4,currentPage: page}">
                <td (click)="populateForm(user)">{{user.userId}}</td> <!-- Edit / Delete -->
                <td (click)="populateForm(user)">{{user.userName}}</td>
                <td (click)="populateForm(user)">{{user.password}}</td>
                <td (click)="populateForm(user)">{{user.fullName}}</td>
                <td>{{user.role.roleName}}</td>
                <td>
                    <button style="width:70px;height: 40px;" class="btn btn-primary" (click)="populateForm(user)">
                        Edit
                    </button>
                    &nbsp;
                    <button style="width:70px;height: 40px;margin-top:3px;" class="btn btn-danger"
                        (click)="deleteUser(user.userId)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="footer">
        <!-- pagination -->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>